.planet {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  position: absolute;
  top: 0;
  color: white;
  padding: 3rem;
  font-family: "Barlow Condensed", sans-serif;
  gap: 2rem;
}
.planet .destinationbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.planet .destinationbg picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.planet .planetnav {
  z-index: 10;
  display: flex;
  gap: 6rem;
  width: 100%;
}
.planet .planetnav h3 {
  z-index: 10;
  font-size: 1.5rem;
  margin-left: 5%;
  text-transform: uppercase;
  font-weight: 100;
  display: flex;
  gap: 1rem;
  width: 40%;
  letter-spacing: 1px;
}
.planet .planetnav h3 span {
  color: #9e9e9e;
  font-weight: bold;
}
.planet .planetnav ul {
  display: flex;
  gap: 2rem;
  width: 40%;
  margin-top: 3rem;
}
.planet .planetnav ul li {
  list-style: none;
}
.planet .planetnav ul li a {
  text-decoration: none;
  color: #9e9e9e;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  padding-bottom: 0.4rem;
}
.planet .planetnav ul li a:hover {
  border-bottom: 2px solid white;
}
.planet .planetbox {
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: flex-end;
  font-family: "Bellefair", serif;
}
.planet .planetbox .planetimg {
  width: 40%;
}
.planet .planetbox .planetimg img {
  width: 60%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}
.planet .planetbox .planetinfo {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1.5rem;
}
.planet .planetbox .planetinfo ul {
  display: flex;
  gap: 2rem;
}
.planet .planetbox .planetinfo ul li {
  list-style: none;
}
.planet .planetbox .planetinfo ul li a {
  text-decoration: none;
  color: #9e9e9e;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  padding-bottom: 0.4rem;
}
.planet .planetbox .planetinfo ul li a:hover {
  border-bottom: 2px solid white;
}
.planet .planetbox .planetinfo h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
.planet .planetbox .planetinfo p {
  font-size: 1rem;
  color: #9e9e9e;
  width: 70%;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.123);
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
}
.planet .planetbox .planetinfo .info {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  font-family: "Bellefair", serif;
}
.planet .planetbox .planetinfo .info p {
  font-size: 0.7rem;
  color: #9e9e9e;
  font-weight: 100;
  padding-bottom: 0;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.planet .planetbox .planetinfo .info p span {
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .planet {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .planet .planetnav {
    margin-top: 3rem;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .planet .planetnav h3 {
    margin-left: 0;
    width: 100%;
    justify-content: flex-start;
  }
  .planet .planetnav ul {
    width: 100%;
    margin-top: 2rem;
    justify-content: flex-start;
  }
  .planet .planetbox {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .planet .planetbox .planetimg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .planet .planetbox .planetimg img {
    width: 50%;
    height: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .planet .planetbox .planetinfo {
    width: 100%;
    gap: 1rem;
    justify-content: center;
  }
  .planet .planetbox .planetinfo ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .planet .planetbox .planetinfo h1 {
    font-size: 3rem;
    text-align: center;
  }
  .planet .planetbox .planetinfo p {
    width: 100%;
    text-align: center;
  }
  .planet .planetbox .planetinfo .info {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .planet .planetbox .planetimg img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}/*# sourceMappingURL=planet.css.map */